Project3.json
{
  "name": "Project3",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iuE3srLpJxZRa7PKCRnu41_4KDO74nR9dwpFLUddFs4",
          "mode": "list",
          "cachedResultName": "n8n lead vs2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iuE3srLpJxZRa7PKCRnu41_4KDO74nR9dwpFLUddFs4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iuE3srLpJxZRa7PKCRnu41_4KDO74nR9dwpFLUddFs4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Date ",
              "lookupValue": "={{ $today }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        -64
      ],
      "id": "74378604-2116-484a-9560-110b859f8fb4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BKJH6XbXcNd3Y3gk",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -160,
        -64
      ],
      "id": "0fda2d49-d770-4292-bdcf-607ac19b7264",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1cb1e121-a9a4-4d30-be79-5138b471f4dd",
              "leftValue": "={{ $json.Called }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "920bc879-eac4-4713-b0c8-8d1dab32ba34",
              "leftValue": "={{ $json.Rejected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -368,
        -64
      ],
      "id": "00128746-89d9-4cae-a7a5-90f22e2f2686",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const people = items[0].json.data;\n\nconst textOutput = people.map(person =>\n  `Name: ${person[\"First Name\"]} ${person[\"Last Name\"]}\\n` +\n  `Email: ${person[\"Email\"]}\\n` +\n  `Budget: ${person[\"Budget\"]}\\n` +\n  `Message: ${person[\"Message\"]}`\n).join('\\n\\n'); // Joins all person entries with a blank line in between\n\nreturn [{ json: { text: textOutput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -64
      ],
      "id": "32b22239-9785-4e88-867c-12c630c3ce4d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "shivanianand424@gmail.com",
        "subject": "List of new Leads ",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -64
      ],
      "id": "6c1d0224-e9a5-4025-9f65-5d37d9e54801",
      "name": "Send a message",
      "webhookId": "c08d7ebe-30d4-479c-aeb7-408d418d80c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "luLFS4IZiN8XvBx6",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        -64
      ],
      "id": "1e014886-a26f-46a0-a06a-3a2a1d4a106d",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "15528913-81e4-4cbe-bffd-7e1117e47c77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77e604c2a07136e3a0dc0f1a7eb543e3351888f02592c1e46b9b3a4d021c3689"
  },
  "id": "qpdraTCY39PPCcBs",
  "tags": []
}